.App {
    width: 100%;
    min-height: 100vh;
    background-color: #FEF2F4;
    overflow: auto;
}

.container {
    margin: 100px auto 0;
    max-width: 800px;
}

.card-list {
    margin-top: 50px;
}

.card {
    margin: 20px 0;
}

.card-content:last-child {
    padding-bottom: .6rem !important;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu>* {
    display: flex;
    align-items: center;

    padding: 0 10px;

    cursor: pointer;
}